/* En tu archivo NewRental.css o un archivo separado para los estilos del calendario */

/* Estilos para el contenedor del calendario */
.react-datepicker-wrapper {
  display: block;
  width: 100%;
}

/* Estilos para el contenedor del input */
.calendar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.react-datepicker__input-container {
  width: 100%;
}

.client {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Estilos para el input del calendario */
.react-datepicker__input-container input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

/* Estilos para el contenedor principal del calendario */
.react-datepicker {
  font-family: "Arial", sans-serif;
}

/* Estilos para el encabezado del calendario */
.react-datepicker__header {
  background-color: #0d6efd;

}

/* Estilos para los días de la semana en el calendario */
.react-datepicker__day-name,
.react-datepicker__current-month {
  color: white;
}

.react-datepicker__day {
  width: 2rem;
  line-height: 2rem;

}



/* Estilos adicionales para todos los días de la semana que son domingos */
.react-datepicker__day--weekend {
  color: red;
}




/* Estilos para los días seleccionados en el calendario */
.react-datepicker__day--selected {
  background-color: #6ea8fe;
  color: #fff;
}

/* Estilos para los días fuera del mes en el calendario */
.react-datepicker__day--outside-month {
  color: #868e96;
}

/* Estilos adicionales para el modo oscuro en el calendario */


.modo-oscuro .react-datepicker__month-container {
  background-color: #4d555e;
}


.modo-oscuro .react-datepicker__day {
  color: #fff;
}

.modo-oscuro .react-datepicker__day--weekend {
  color: #fa3c3c;
}

.modo-oscuro .react-datepicker__day--selected {
  background-color: #6ea8fe;
  color: #fff;
}

.modo-oscuro .react-datepicker__day--outside-month {
  color: #a9abad;
}

.modo-oscuro .react-datepicker {
  border-color: rgb(148, 142, 142);
}